util-core/src/main/java/com/zifang/util/core/demo/jdk/javax/xml/schema/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.example.org/users"
	xmlns:tns="http://www.example.org/users" 
	elementFormDefault="qualified">

	<element name="user">
		<complexType>
			<sequence>
 	   			<element name="id" type="int"></element>
 	   			<element name="userName" type="string"></element>
 	   			<element name="password" type="string"></element>
 	   			<element name="brithday" type="date"></element>
			</sequence>
		</complexType>
	</element>
</schema>